<html *ngIf="loading">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="load">
<span style="margin-right: 23%">LOADING</span>
<div class="loader"></div>
</body>
</html>

<html style="padding: 0; margin: -8px;" *ngIf="!loading">
    <body class="first_body">
    <ul>
      <li><a class="active" [routerLink]="['/home']">Αρχική σελίδα</a></li>
      <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
      <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
      <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
      <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
      <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
      <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
      <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
    </ul>
    <app-sidebar></app-sidebar>
    <body class="second_body" *ngIf="!loading">
    <div class="form">
      <form [formGroup]="postForm" (ngSubmit)="submitPost()">
        <div>
          <textarea class="newpost" rows="7" type="text" placeholder="Write a new post" formControlName="post_text">
          </textarea>
        </div>
<!--upload buttons-->
        <div class="file-upload-container">
        <label for="img_file" class="file-upload" title="Image Upload"><i class="fa fa-image"></i> Images </label>
        <input type="file" id="img_file" accept="image/*" multiple (change)="selectImageFiles($event,false)" class="image_input"/>

        <label for="aud_file" class="file-upload" title="Audio Upload"><i class="fa fa-file-audio-o"></i> Audio </label>
        <input type="file" id="aud_file" accept="audio/*" multiple (change)="selectAudioFiles($event,true)" class="audio_input"/>


        <label for="vid_file" class="file-upload" title="Video Upload"><i class="fa fa-video-camera"> Videos </i></label>
        <input type="file" accept="video/mp4" id="vid_file" multiple (change)="selectFilesV($event)" />
        </div>
<!--previews-->
        <div>
          <img *ngFor='let preview of previews' [src]="preview" class="post-image">
        </div>
        <div>
        <span *ngFor='let previewV of previewsV' >
          <video width="320" height="240" controls>
            <source [src]="previewV" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </span>
        </div>
        <div>
        <span *ngFor='let previewA of previewsA' >
          <audio width="320" height="240" controls>
            <source [src]="previewA" type="audio/mp3">
            Your browser does not support the audio tag.
          </audio>
        </span>
        </div>

        <button [disabled]="loading" class="button" type="submit" >
          Upload Post
        </button>
        <div *ngIf="requiredcondition">
          <h4>
            You must write a post before trying to upload.
          </h4>
        </div>
        <div *ngIf="uploaded">
          <h5>
            Post uploaded successfully!
          </h5>
        </div>
        <div *ngIf="message.length">
          <div *ngFor="let msg of message; let i = index">
            <p>{{ msg }}</p>
          </div>
        </div>
      </form>
    </div>
    <div class="posts" *ngFor="let post of posts">
      <img [src]="imagesrc(post.user.img) ? imagesrc(post.user.img):  '../../assets/default-user-image.png'" class="profile-image">
      <a [routerLink]="['/'+post.user.username]" class="author">{{post.user.firstName}} {{post.user.lastName}}</a>
      <br>
      <span class="date">
        {{post.date_time}}
      </span>
      <br><br>
      <p class="post_body">
        {{post.post_body}}
      </p >
      <div *ngFor="let aud of post.audios" class="audios">
        <audio controls [src]="audiosrc(aud)">
        </audio>
      </div>
      <div *ngFor="let image of post.images">
        <img [lazyLoad]="imagesrc(image)" [decode]="true"  class="post-image">
      </div>
      <div *ngFor="let video of post.videos">
        <video width="320" height="240" controls preload="metadata">
          <source *ngIf="videos.get(video.id)" [src]="videos.get(video.id)"   type="video/mp4">
          Your browser does not support the video tag.
        </video>
<!--<a href="{{url}}"> vid link</a>-->
<!--        <video width="320" height="240" controls>-->
<!--          <source [src]="videosrc(video.id)" type="video/mp4">-->
<!--          Your browser does not support the video tag.-->
<!--        </video>-->
      </div>
      <span class="like_count"><i class="fa fa-thumbs-up"></i> {{likes_count.get(post)}} </span>
      <button *ngIf="liked_posts.get(post)" class="disabled">Ενδιαφέρον!</button>
      <button *ngIf="!liked_posts.get(post)" (click)="likePost(post)" class="like">Ενδιαφέρον!</button>
      <button (click)="goToPost(post.id)" class="comments_button">Σχόλια</button>
    </div>
    </body>
  </body>
</html>
<router-outlet></router-outlet>
