<html *ngIf="loading">
<body class="load">
<span style="margin-right: 23%">LOADING</span>
<div class="loader"></div>
</body>
</html>

<html style="padding: 0; margin: -8px;" *ngIf="!loading">
    <body class="first_body">
    <div id="mySidenav" class="sidenav">
      <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
      <a href="#" id="web" [routerLink]="['/web']">Το δίκτυό μου</a>
    </div>
    <ul>
      <li><a class="active" [routerLink]="['/home']">Αρχική σελίδα</a></li>
      <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
      <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
      <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
      <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
      <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
      <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
      <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
    </ul>
    <body class="second_body" *ngIf="!loading">
    <div class="form">
      <form [formGroup]="postForm" (ngSubmit)="submitPost()">
        <div>
          <textarea class="newpost" rows="7" type="text" placeholder="Write a new post" formControlName="post_text">
          </textarea>
        </div>
        <button [disabled]="loading" class="button" type="submit" >
          Upload Post
        </button>
        <div *ngIf="requiredcondition">
          <h4>
            You must write a post before trying to upload.
          </h4>
        </div>
        <div *ngIf="uploaded">
          <h5>
            Post uploaded successfully!
          </h5>
        </div>
      </form>
    </div>
    <div class="posts" *ngFor="let post of html_posts">
      <a [routerLink]="['/'+post[0].user.username]" class="author">{{post[0].user.firstName}} {{post[0].user.lastName}}</a>
      <br>
      <span class="date">
        {{post[0].date_time}}
      </span>
      <br><br>
      <p class="post_body">
        {{post[0].post_body}}
      </p >
      <button *ngIf="post[1]" class="disabled">Ενδιαφέρον!</button>
      <button *ngIf="!post[1]" (click)="likePost(post[0])" class="like">Ενδιαφέρον!</button>
      <button (click)="goToPost(post[0].id)" class="comments_button">Σχόλια</button>
    </div>
    </body>
  </body>
</html>
<router-outlet></router-outlet>
