@import "../info/info.component.css";

h2 {
  margin-bot: 75px;
  margin-left: 15%;
  font-size: 25px;
  font-family: sans-serif;
  color: rgba(6, 42, 3, 0.48);
}
load{
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 200px;
  cursor: wait;
  background-color: white;
  color: black;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  float: right;
  text-transform: capitalize;
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 8px;
  font-size: 14px;
  float: right;
  opacity: 0.6;
  cursor: not-allowed;
}
