<!DOCTYPE html>
<html style="padding: 0; margin: -8px;">
<body style="padding: 0; margin: -8px;">
<div class="login-page">
  <div class="form">
    <div class="login">
      <div class="login-header">
        <h3>LinkedIn</h3>
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div><input type="text" placeholder="E-mail" formControlName="email"/></div>
      <div><input type="password" placeholder="Password" formControlName="pass"/></div>
      <button class="button" type="submit" >login</button>
      <p class="message">Not registered? <a [routerLink]="['/register']">Register now!</a></p>
    </form>
  </div>
</div>
</body>
</html>
<router-outlet></router-outlet>
