<html style="padding: 0; margin: -8px;">

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/myweb']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a class="active" [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<html class="load" *ngIf="!dataLoaded">LOADING...
</html>

<body class="second_body" *ngIf="dataLoaded">

<div class="grid-container">
  <div class="grid-item" *ngFor="let user of users">
    <div class="grid-container-simple">
      <div class="grid-item-simple1">
        <img *ngIf="users_images.get(user)" src="{{users_images.get(user)}}" class="image">
      </div>
      <div class="grid-item-simple2">
        <h1><span style="text-decoration: underline">Όνομα:</span><span style="color:darkgreen"> {{user.firstName}}</span></h1>
        <h1><span style="text-decoration: underline">Επώνυμο:</span><span style="color:darkgreen"> {{user.lastName}}</span></h1>
      </div>
      <div class="grid-item-simple3">
        <a [routerLink]="['/',user.username]" class="button">Μεταβείτε στην σελίδα του</a>
      </div>
    </div>
  </div>
  <div *ngIf="empty" class="grid-item"><h4>Δεν υπάρχουν χρήστες με αυτό το όνομα</h4></div>
</div>

</body>

</body>

</html>

<router-outlet></router-outlet>


