<html *ngIf="loading">
<body class="load">
<span style="margin-right: 23%">LOADING</span>
<div class="loader"></div>
</body>
</html>

<html style="padding: 0; margin: -8px;" *ngIf="!loading">
<body class="first_body">
<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/web']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a class="active" [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<body class="second_body" *ngIf="!loading">

<div class="posts">
  <img [src]="imagesrc(post.user.img) ? imagesrc(post.user.img): '../../assets/default-user-image.png'" class="profile-image">
  <a [routerLink]="['/'+post.user.username]" class="author">{{post.user.firstName}} {{post.user.lastName}}</a>
  <br>
  <span class="date">
        {{post.date_time}}
  </span>
  <br><br>
  <p class="post_body">
    {{post.post_body}}
  </p>
  <div *ngFor="let image of post.images">
    <img [src] = imagesrc(image) class="post-image">
  </div>

  <span class="like_count"><i class="fa fa-thumbs-up"></i>  {{likes_count}} </span>
  <button *ngIf="isLiked" class="disabled">Ενδιαφέρον!</button>
  <button *ngIf="!isLiked" (click)="likePost(post)" class="like">Ενδιαφέρον!</button>
  <br><br>
  <span class="separator">
    ---------------------------------------------------------------------------------------------------------<span class="comm_sep">COMMENTS</span>
  </span>
  <br>
  <div *ngFor="let c of this.comms" class="comment">
    <img [src]="imagesrc(c.user.img) ? imagesrc(c.user.img): '../../assets/default-user-image.png'" class="profile-image">
    <a [routerLink]="['/'+c.user.username]" class="author">{{c.user.firstName}} {{c.user.lastName}}</a>
    <br>
    <span class="date">
        {{local(c.createdDate)}}
    </span>
    <br><br>
    <p style="margin: 2px 0 5px 0;" class="post_body">{{c.comment_text}}</p>
  </div>
  <div class="form">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <div>
          <textarea class="newpost" rows="2" type="text" placeholder="Write a comment" formControlName="comm_text">
          </textarea>
      <button class="button" type="submit" >
        Upload
      </button>
      </div>
      <div *ngIf="requiredcondition">
        <h4>
          You must write something first.
        </h4>
      </div>
    </form>
  </div>
</div>
</body>
</body>
</html>
<router-outlet></router-outlet>
