ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:100%;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;

  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.first_body{
  background-image: url("/../assets/green-pattern-wallpaper-1.jpg");
  background-size: cover;
  text-align: center;
  min-height:100vh;
  width:100%;
  margin:auto;
  background-position: center center;
  background-repeat: repeat;
  padding:0;
}

.second_body {
  text-align: center;
  margin:auto;
  margin-top: 0px;
  width:760px;
  background-color:whitesmoke ;
  height:auto;
  padding:10px;
}

#mySidenav a {
  position: absolute;
  left: -80px;
  margin-top: -20px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  position: fixed;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}


#web {
  top: 80px;
  background-color: #04AA6D;
}

#info {
  top: 140px;
  background-color: #04AA6D;
}

.form button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: dodgerblue;
  border-style: groove ;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin: 10px
}

h4 {
  font-size: 15px;
  font-family: sans-serif;
  color: red;
}

h5 {
  font-size: 15px;
  font-family: sans-serif;
  color: limegreen;
}

button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 150px;
  height: 50px;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
  color: green;
}

label {
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
  color: green;
}

p {
  font-size: 14px;
  font-family: sans-serif;
  border-color: #04AA6D;
  background: #e0ffe8;
  max-width: 100%;
  margin: 0 auto 25px;
  padding: 20px;
  text-align: left;
  word-wrap: break-word;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 13px;
}

load{
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 200px;
  cursor: wait;
  background-color: white;
  color: black;
}

.image {
  width:250px;
  height:250px;
  object-fit:cover;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  min-height: 350px;
}

.grid-container .grid-item1 {
  padding: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  /*position:relative;*/
}

.grid-container .grid-item2 {
  padding: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-container .grid-item3 {
  padding: 15px;
  grid-column-start: 1;
  grid-column-end: 3;
}

/*.change_image {*/
/*  font-family: sans-serif;*/
/*  text-transform: uppercase;*/
/*  outline: 0;*/
/*  background-color: #328f8a;*/
/*  background-image: linear-gradient(45deg,#328f8a,#08ac4b);*/
/*  width: auto;*/
/*  height: auto;*/
/*  border: 0;*/
/*  border-radius: 8px;*/
/*  color: #FFFFFF;*/
/*  font-size: 14px;*/
/*  cursor: pointer;*/
/*  transition-duration: 0.4s;*/
/*}*/
/*.grid-container > div {*/
/*}*/



