<html style="padding: 0; margin: -8px;">

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/myweb']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a class="active" [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<html class="load" *ngIf="!data_loaded">LOADING ...
</html>
<body class="second_body" *ngIf="data_loaded">
<div class="grid-container">
  <div class="grid-item1">
    <div *ngIf="changeImage == false">
        <img [src]="userimage? userimage:  '../../assets/default-user-image.png'" class="image">
        <button class="change_image" (click)="changeImage=true">Change Image</button>
    </div>
    <div *ngIf="changeImage == true">
      <img id="pic" alt="your image" src="#" style="max-width:100%; max-height:100%;"/>
      <input type="file" accept="image/*" onchange="document.getElementById('pic').src = window.URL.createObjectURL(this.files[0])" (change)="onFileChanged($event)">
      <input type="button" (click)="onUpload()" value="Save">
      <input type="button" (click)="changeImage=false" value="Cancel">
    </div>
  </div>
  <div class = "grid-item2">
    <h1>Όνομα</h1>
    <p>{{user.firstName}}</p>
    <h1>Επίθετο</h1>
    <p>{{user.lastName}}</p>
    <h1>E-mail</h1>
    <p>{{user.username}}</p>
    <h1>Τηλέφωνο</h1>
    <p>{{user.phone}}</p>
  </div>
  <div class = "grid-item3">
    <h1>Επαγγελματική Εμπειρία</h1>
    <p>{{work_experience}}</p>
    <h1>Εκπαίδευση</h1>
    <p>{{education}}</p>
    <h1>Επαγγελματικές Ικανότητες</h1>
    <p>{{skills}}</p>
  </div>
</div>
<a [routerLink]="['/info/edit']"><button class="button" type="submit" >Edit</button></a>
</body>
</body>
</html>

<router-outlet></router-outlet>
