<html style="padding: 0; margin: -8px;">

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/web']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/web']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/web']">Ειδοποιήσεις</a></li>
  <li><a class="active" [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>

<body class="second_body">

<!--<div class="form-group" [class.has-error]="work_experience.invalid-->
<!--        && work_experience.touched">-->
<!--  <label class="control-label">work_experience</label>-->
<!--  <div class="form-control">-->
<!--    <label class="text-inline">-->
<!--      <input type="text" required #work_experience="ngModel"-->
<!--             name="work_experience" value="work_experience"-->
<!--             [(ngModel)]="user.work_experience"> Work Experience-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="form-group" [class.has-error]="education.invalid-->
<!--        && education.touched">-->
<!--  <label class="control-label">Education</label>-->
<!--  <div class="form-control">-->
<!--    <label class="text-inline">-->
<!--      <input type="text" required #education="ngModel"-->
<!--             name="education" value="education"-->
<!--             [(ngModel)]="user.education"> Work Experience-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="form-group" [class.has-error]="skills.invalid-->
<!--        && skills.touched">-->
<!--  <label class="control-label">Education</label>-->
<!--  <div class="form-control">-->
<!--    <label class="text">-->
<!--      <input type="text" required #skills="ngModel"-->
<!--             name="skills" value="Email"-->
<!--             [(ngModel)]="user.skills"> Work Experience-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->


<div class="form">
  <form [formGroup]="InfoForm" (ngSubmit)="onSubmit()">
    <div><input type="text" placeholder="Work experience" formControlName="work_experience" /></div>
    <div><input type="text" placeholder="Education" formControlName="education" /></div>

<!--    <label for="Skills">Skills</label>-->
<!--    <input id="Skills" formControlName="Skills" />-->
<!--    <div-->
<!--      *ngIf="InfoForm.controls.Skills.errors?.required && InfoForm.controls.firstName.touched"-->
<!--      class="error"-->
<!--    >-->
<!--      *Required-->
<!--    </div>-->
    <div><input type="text" placeholder="Skills" formControlName="skills" required/></div>


    <button class="button" type="submit" >Save changes</button>
    <div *ngIf="saved"><h5>Saved!</h5></div>
  </form>
</div>
</body>
</body>
</html>

<router-outlet></router-outlet>
