<html style="padding: 0; margin: -8px;">

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/myweb']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a class="active" [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<html class="load" *ngIf="!dataLoaded">LOADING ...
</html>
<body class="second_body" *ngIf="dataLoaded && other_user">
<span *ngIf="is_friends && !sent"><button class="disabled">Είστε ήδη συνδεδεμένοι</button></span>
<span *ngIf="!is_friends && !sent"><button (click)="sendRequest()" class="button">Στείλτε αίτημα σύνδεσης</button></span>
<span *ngIf="sent"><button class="disabled">Στάλθηκε</button></span>
<h2>{{other_user.firstName}} {{other_user.lastName}}'s Personal Info</h2>

<div>
  <div class="grid-container">
    <div class="grid-item1">
      <img [src]="other_userimage ? other_userimage: '../../assets/default-user-image.png'" class="image">
    </div>
    <div class = "grid-item2">
      <h1>Όνομα</h1>
      <p>{{other_user.firstName}}</p>
      <h1>Επίθετο</h1>
      <p>{{other_user.lastName}}</p>
      <h1>E-mail</h1>
      <p>{{other_user.username}}</p>
      <h1>Τηλέφωνο</h1>
      <p>{{other_user.phone}}</p>
    </div>
    <div class="grid-item3">
      <h1>Θέση εργασίας</h1>
      <p>{{other_user.job_pos}}</p>
      <span *ngIf="is_friends || other_user.work_experience_public">
      <h1>Επαγγελματική Εμπειρία</h1>
      <p>{{other_user.work_experience}}</p>
      </span>
      <span *ngIf="is_friends || other_user.education_public">
      <h1>Εκπαίδευση</h1>
      <p>{{other_user.education}}</p>
      </span>
      <span *ngIf="is_friends || other_user.education_public">
      <h1>Επαγγελματικές Ικανότητες</h1>
      <p>{{other_user.skills}}</p>
      </span>
      <span *ngIf="!is_friends && !other_user.education_public && !other_user.work_experience_public && !other_user.skills_public">
        <p>Δεν υπάρχουν Πληροφορίες</p>
      </span>
    </div>
  </div>
</div>
<h1>{{other_user.firstName}}'s web</h1>
<div class="grid-container_111">
  <div class="grid-item_111" *ngFor="let user of users">
    <div class="grid-container-simple_111">
      <div class="grid-item-simple1_111">
        <img [src]="users_images.get(user) ? users_images.get(user): '../../assets/default-user-image.png'" class="image_111">
      </div>
      <div class="grid-item-simple2_111">
        <h3><span style="text-decoration: underline">Όνομα:</span><span style="color:darkgreen"> {{user.firstName}}</span></h3>
        <h3><span style="text-decoration: underline">Επώνυμο:</span><span style="color:darkgreen"> {{user.lastName}}</span></h3>
        <h3><span *ngIf="user.work_experience_public" style="text-decoration: underline">Εμπειρία:</span><span style="color:darkgreen"> {{user.work_experience}}</span></h3>
      </div>
    </div>
  </div>
</div>

</body>
</body>
</html>
<router-outlet></router-outlet>
