<html style="padding: 0; margin: -8px;">

<body class="first_body">

<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a class="active" [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>

<app-sidebar></app-sidebar>

<body class="second_body">
<div class="form" >
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <div>
      <label> Νέα Αγγελία </label>
      <br>
      <textarea class="newpost" rows="10" type="text" formControlName="job_text"> </textarea>
      <br>
    <button [disabled]="post_progress==ref_progress.loading" class="button" type="submit" >Upload Job</button>
    </div>
    <div *ngIf="post_progress==ref_progress.loading"><br><div class="loader-small"></div></div>
    <div *ngIf="post_progress==ref_progress.completed"><h5>Posted!</h5></div>
    <div *ngIf="post_progress==ref_progress.error"><br><h4>Something went wrong. Try again.</h4></div>
    <div *ngIf="requiredcondition">
      <h4>
        You must write a post before trying to upload.
      </h4>
    </div>
  </form>
</div>

<div class="options">
  <button (click)="default()" [ngClass]="{'active': tab === 0}">Προκαθορισμένες</button> |
  <button (click)="most_recent()" [ngClass]="{'active': tab === 1}">Πιο πρόσφατα</button> |
  <button (click)="my_jobs()" [ngClass]="{'active': tab === 2}">Οι αγγελίες μου</button>
</div>

<div class="posts" *ngFor="let job of all_jobs">
  <img [src]="imagesrc(job.user.img)? imagesrc(job.user.img):  '../../assets/default-user-image.png'" class="image">
  <a [routerLink]="['/',job.user.username]"><div class="author"> {{job.user.firstName}} {{job.user.lastName}}</div> </a>
  <br/><span class="date">{{local(job.createdDate)}}</span>
  <br/><br/>
  <p class="job_body"> {{job.body}}  </p>
  <br/>
  <span class="applies_count"> {{applicants_count.get(job)}} αιτήσεις</span>

  <span *ngIf="user.id != job.user.id">
    <button *ngIf="appliedJobs.get(job)" [routerLink]="['/apply', { job_id: job.id }]" class="liked"
            title="Έχετε κάνει ήδη αίτηση. Η νέα αίτηση θα αντικαταστήσει την προηγούμενη.">Αίτηση</button>
    <button *ngIf="!appliedJobs.get(job)" [routerLink]="['/apply', { job_id: job.id }]" class="like">Αίτηση</button>
  </span>
  <span *ngIf="user.id == job.user.id">
    <a [routerLink]="[job.id]" class="applications_link">Δες τις αιτήσεις</a>
  </span>
</div>
<h5 class="rec_tag"> RECOMMENDATIONS </h5>
<br>
  <div  class="posts" *ngFor="let job of recommended_jobs">
    <img [src]="imagesrc(job.user.img)? imagesrc(job.user.img):  '../../assets/default-user-image.png'" class="image">
    <a [routerLink]="['/',job.user.username]"><div class="author"> {{job.user.firstName}} {{job.user.lastName}}</div> </a>
    <br/><span class="date">{{local(job.createdDate)}}</span>
    <br/><br/>
    <p class="job_body"> {{job.body}}  </p>
    <br/>
    <div class="applies_count"> {{applicants_count.get(job)}} αιτήσεις</div>

    <span *ngIf="user.id != job.user.id">
      <button *ngIf="appliedJobs.get(job)" class="disabled">Αίτηση</button>
      <button *ngIf="!appliedJobs.get(job)" [routerLink]="['/apply', { job_id: job.id }]" class="like">Αίτηση</button>
    </span>
    <span *ngIf="user.id == job.user.id">
      <a [routerLink]="[job.id]" class="applications_link">Δες τις αιτήσεις</a>
    </span>
  </div>
</body>

</body>
</html>
<router-outlet></router-outlet>
