<html *ngIf="loading">
<body class="load">
<span style="margin-right: 23%">LOADING</span>
<div class="loader"></div>
</body>
</html>

<html style="padding: 0; margin: -8px;" *ngIf="!loading">

<body class="first_body">

<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a class="active" [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<app-sidebar></app-sidebar>
<body class="second_body">
<div class="form" >
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" >
    <div>
      <label> Νέα Αγγελία </label>
      <br>
      <textarea class="newpost" rows="10" type="text" formControlName="job_text"> </textarea>
      <br>
    <button class="button" type="submit" >Post</button>
    </div>
    <div *ngIf="posted"><h5>Posted!</h5></div>
    <div *ngIf="requiredcondition">
      <h4>
        You must write a post before trying to upload.
      </h4>
    </div>
  </form>
</div>

<div class="options">
  <button (click)="default()" [ngClass]="{'active': tab === 0}">Προκαθορισμένες</button> |
  <button (click)="most_recent()" [ngClass]="{'active': tab === 1}">Πιο πρόσφατα</button> |
  <button (click)="my_jobs()" [ngClass]="{'active': tab === 2}">Οι αγγελίες μου</button> |
<!--  <button (click)="connected_jobs()" >Αγγελίες Συνδεδεμένων</button>-->
</div>
<div *ngIf="dataLoaded">
<div  class="posts" *ngFor="let job of all_jobs">
  <img [src]="imagesrc(job.user.img)? imagesrc(job.user.img):  '../../assets/default-user-image.png'" class="image">
  <a [routerLink]="['/',job.user.username]"><div class="author"> {{job.user.firstName}} {{job.user.lastName}}</div> </a>
  <br/><span class="date">{{local(job.createdDate)}}</span>
  <br/><br/>
  <p class="job_body"> {{job.body}}  </p>
  <br/>
  <span class="like_count"><i class="fa fa-thumbs-up"></i>  {{likes_count.get(job)}} </span>
  <button *ngIf="likedJobs.get(job)" class="disabled">Ενδιαφέρον!</button>
  <button *ngIf="!likedJobs.get(job)" (click)="likeJob(job)" class="like">Ενδιαφέρον!</button>
</div>
</div>
</body>

</body>
</html>
<router-outlet></router-outlet>
