<!DOCTYPE html>
<html style="padding: 0; margin: -8px;">
<body style="padding: 0; margin: -8px;">
<body>
<div class="welcome-page">
  <div class="form">
    <div class="welcome">
      <div class="welcome-header">
        <h3>Welcome to </h3>
        <h4>LinkedIn!</h4>
        <style>
          h3, h4 {display:inline;}
        </style>
        <p class="message">The best job-finding and job-hiring website in the world.</p>
      </div>
    </div>
    <a [routerLink]="['/login']"><button class="button" type="submit" >Sign-In</button></a>
    <a [routerLink]="['/register']"><button class="button" type="submit" >Sign-Up</button></a>
    <p class="mymessage">*Used by over 1 million people.</p>
  </div>

</div>
</body>
</body>
</html>
<router-outlet></router-outlet>
