<html style="padding: 0; margin: -8px;">

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/myweb']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a class="active" [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<body class="second_body" *ngIf="dataLoaded">

  <div  class="posts">
    <img [src] = "imagesrc(job.user.img) ? imagesrc(job.user.img): '../../assets/default-user-image.png'" class="image">
    <a [routerLink]="['/',job.user.username]"><div class="author"> {{job.user.firstName}} {{job.user.lastName}}</div> </a>
    <br/><span class="date">{{local(job.createdDate)}}</span>
    <br/><br/>
    <p> {{job.body}}  </p>
    <br/>
    <span class="applies_count"> {{applicants_count}} αιτήσεις</span>

    <span *ngIf="user.id != job.user.id">
      <button *ngIf="applied" [routerLink]="['/apply', { job_id: job.id }]" class="liked"
              title="Έχετε κάνει ήδη αίτηση. Η νέα αίτηση θα αντικαταστήσει την προηγούμενη.">Αίτηση</button>
      <button *ngIf="!applied" [routerLink]="['/apply', { job_id: job.id }]" class="like">Αίτηση</button>
    </span>
  </div>

  <div *ngIf="user.id == job.user.id"><label class="item-label">Αιτήσεις</label>
    <span *ngIf="applicants_count==0" style="color: green">Δεν υπάρχουν αιτήσεις</span>

    <div *ngIf="applicants_count>0">
      <div class="grid-container">
        <div class="preview">
        <div class="preview-container">
          <div class="preview-grid-item" *ngFor="let appl of applications" (click)="openApplication(appl)" [ngClass]="{'preview-grid-item-active': tab === appl.id}">
            <img [src] = "imagesrc(appl.user.img) ? imagesrc(appl.user.img): '../../assets/default-user-image.png'" class="image">
            <label>{{appl.user.firstName}} {{appl.user.lastName}}</label>
            <div><label>E-mail: </label>{{appl.user.username}}</div>
            <div><label>Job Position: </label>{{appl.user.job_pos}}</div>
          </div>
        </div>
        </div>
        <div class="application-container" *ngIf="current_application">
          <label class="item-label"> {{current_application.user.firstName}} {{current_application.user.lastName}}</label>
          <img [src]="current_application.user.img? current_application.user.img:  '../../assets/default-user-image.png'" class="bio-image">
          <div>
            <label>E-mail</label>
            <p>{{current_application.user.username}}</p>
          </div>
          <div>
            <label>Τηλέφωνο</label>
            <p>{{current_application.user.phone}}</p>
          </div>

          <div>
            <label>Θέση εργασίας</label>
            <p>{{current_application.user.job_pos}}</p>
          </div>
          <div>
            <label>Επαγγελματική Εμπειρία</label>
            <p>{{current_application.user.skills}}</p>
          </div>
          <div>
            <label>Εκπαίδευση</label>
            <p>{{current_application.user.education}}</p>
          </div>
          <div>
            <label>Επαγγελματικές Ικανότητες</label>
            <p>{{current_application.user.skills}}</p>
          </div>

          <div>
            <label>Γιατί πιστεύετε ότι είστε κατάλληλος για αυτή τη θέση;</label>
            <p>{{current_application.text}}</p>
          </div>

          <button [routerLink]="['/',current_application.user.username]">Μεταβείτε στη σελίδα του</button>
        </div>
      </div>
      </div>
    </div>

</body>

</body>
</html>
<router-outlet></router-outlet>

