<html style="padding: 0; margin: -8px;">

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/myweb']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a class="active" [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<html class="load" *ngIf="!dataLoaded">LOADING ...
</html>
<body class="second_body" *ngIf="dataLoaded">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="search" [formGroup]="searchForm" (ngSubmit)="onSearch()" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search Users..." name="search2" formControlName="searchbar">

  <button type="submit"><i class="fa fa-search"></i></button>
  <div *ngIf="filledCondition"><h4>You must type in something first.</h4></div>
</form>
<div class="grid-container">
  <div class="grid-item" *ngFor="let user of users">
    <div class="grid-container-simple">
      <div class="grid-item-simple1">
        <img [src]="users_images.get(user) ? users_images.get(user): '../../assets/default-user-image.png'" class="image">
      </div>
      <div class="grid-item-simple2">
        <h1><span style="text-decoration: underline">Όνομα:</span><span style="color:darkgreen"> {{user.firstName}}</span></h1>
        <h1><span style="text-decoration: underline">Επώνυμο:</span><span style="color:darkgreen"> {{user.lastName}}</span></h1>
        <h1><span style="text-decoration: underline">Εμπειρία:</span><span style="color:darkgreen"> {{user.work_experience}}</span></h1>
      </div>
      <div class="grid-item-simple3">
        <button [routerLink]="['/chat']" class="button">Στείλτε μήνυμα</button>
        <span style="font-size: 25px"> ή </span>
        <button [routerLink]="['/',user.username]" class="button">Μεταβείτε στην σελίδα του</button>
      </div>
    </div>
  </div>

</div>
</body>

</body>

</html>

<router-outlet></router-outlet>

