ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:100%;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;

  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.first_body{
  background-image: url("/../assets/green-pattern-wallpaper-1.jpg");
  text-align: center;
  min-height:100vh;
  height:100%;
  width:100%;
  margin:auto;
  background-position: center center;
  background-repeat: repeat;
  padding:0;
}

.second_body {
  text-align: center;
  margin:auto;
  width:auto;
  height:100%;
}

#mySidenav a {
  position: absolute;
  left: -80px;
  margin-top: -20px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  position: fixed;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}


#web {
  top: 80px;
  background-color: #04AA6D;
}

#info {
  top: 140px;
  background-color: #04AA6D;
}

.form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding-bottom: 100px;
  padding-top: 3px;
  box-sizing: border-box;
  font-size: 14px;
}


h1 {
  font-size: 15px;
  font-family: sans-serif;
  color: black;
  text-align: left;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-right: 200px;
  margin-left: 200px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 30px;
  text-align: center;
}

.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: lightgreen;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  transition-duration: 0.3s;
}

.button:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  box-sizing: border-box;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

form.search{
  padding-top: 20px;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

load{
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 200px;
  cursor: wait;
  background-color: white;
  color: black;
}

h4 {
  font-size: 15px;
  font-family: sans-serif;
  color: red;
  background-color:white;
}

.grid-container-simple {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  min-height: 100px;
}

.grid-container-simple .grid-item-simple1 {
  padding: 5px;
  grid-column-start: 5;
  grid-column-end: 3;
  position:relative;
}

.grid-container-simple .grid-item-simple2 {
  padding: 5px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.grid-container-simple .grid-item-simple3 {
  padding: 5px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.image {
  width:80px;
  height:80px;
  object-fit:cover;
  margin-top: 7%;
  margin-left: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  float: right;
  border-radius: 50%;
  transform: translate(-50%, -50%)
}












