
<html>

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/myweb']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/web']">Ειδοποιήσεις</a></li>
  <li><a class="active" [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>

<body class="second_body">

<div class="form" >
  <form [formGroup]="InfoForm" (ngSubmit)="onSubmit()" >
    <div>
      <label> Επαγγελματική εμπειρία </label>
      <textarea rows="10" type="text" formControlName="work_experience"> </textarea>
      <input id="ch1" type="checkbox" formControlName="work_experience_public" [ngModel]="user.work_experience_public">
      <label for="ch1">Δημόσια</label>

    </div>
    <div><label> Εκπαίδευση </label>
      <textarea rows="10" type="text" formControlName="education"> </textarea>
      <input id="ch2" type="checkbox" formControlName="education_public" [ngModel]="user.education_public">
      <label for="ch2">Δημόσια</label>
    </div>
    <div><label> Επαγγελματικές ικανότητες </label>
      <textarea rows="10" type="text" formControlName="skills"> </textarea>
      <input id="ch3" type="checkbox" formControlName="skills_public" [ngModel]="user.skills_public">
      <label for="ch3">Δημόσια</label>
    </div>

    <button class="button" type="submit" >Save changes</button>
    <div *ngIf="saved"><h5>Saved!</h5></div>
  </form>
</div>
</body>
</body>
</html>

<router-outlet></router-outlet>
