<html style="padding: 0; margin: -8px;">

<body class="first_body">

<div id="mySidenav" class="sidenav">
  <a href="#" id="info" [routerLink]="['/info']">Προσωπικά στοιχεία</a>
  <a href="#" id="web" [routerLink]="['/myweb']">Το δίκτυό μου</a>
</div>
<ul>
  <li><a [routerLink]="['/home']">Αρχική σελίδα</a></li>
  <li><a [routerLink]="['/myweb']">Δίκτυο</a></li>
  <li><a [routerLink]="['/jobs']">Αγγελίες</a></li>
  <li><a [routerLink]="['/chat']">Συζητήσεις</a></li>
  <li><a [routerLink]="['/notifications']">Ειδοποιήσεις</a></li>
  <li><a [routerLink]="['/info']">Προσωπικά στοιχεία</a></li>
  <li><a class="active" [routerLink]="['/settings']">Ρυθμίσεις</a></li>
  <li style="float:right"><a [routerLink]="['/login']">Log-out</a></li>
</ul>
<body class="second_body">
  <div class="form">
    <form [formGroup]="PassForm" (ngSubmit)="PassSubmit()">
      <div><input type="password" placeholder="New Password" formControlName="new_pass" required/></div>
      <div><input type="password" placeholder="Confirm new password" formControlName="conf_pass" required/></div>
      <button class="button" type="submit" >Change Password</button>
      <div *ngIf="passcondition"><h4>Passwords don't match.</h4></div>
      <div *ngIf="passfilledCondition"><h4>You must fill in the boxes first.</h4></div>
      <div *ngIf="passsaved"><h5>Saved!</h5></div>
    </form>
  </div>
  <div class="form">
    <form [formGroup]="EmailForm" (ngSubmit)="EmailSubmit()">
      <div><input type="text" placeholder="New E-mail" formControlName="new_email" required/></div>
      <button class="button" type="submit" >Change E-mail</button>
      <div *ngIf="emailfilledCondition"><h4>You must fill in the box first.</h4></div>
      <div *ngIf="emailsaved"><h5>Saved!</h5></div>
    </form>
  </div>
</body>

</body>
</html>
<router-outlet></router-outlet>
